body {
  height: 750px;
  width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edeff3;
  z-index: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  gap: 80px;
}

header {
  border-bottom: 1px solid #bbc1d0;
  border-radius: 0 0 0 80px;
  background: url('images/header_bg.svg');
  background-color: #fff;
}